// palette
$orange: #FFA500;
$light_orange: #FFCC80;
$medium_orange: #FFB74D;

$blue: #1976D2;
$light_blue: #64B5F6;

$green: #4CAF50;
$light_green: #81C784;

$black: #000000;
$dark_grey: #333333;
$grey: #404040;
$white: #fff;

// not using global default font
@font-face {
    font-family: 'Roboto';
    src: url(../../assets/Roboto-Regular.ttf) format('truetype');
}

.entire-section {
  font-family: 'Roboto', serif;
}

// scss
header {
  background-color: $orange;
  color: $white;
  padding: 15px;
  text-align: center;
}

nav {
  display: inline-block;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

nav ul li {
  display: inline;
  margin-right: 40px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: $white;
  font-weight: bold;
  font-size: 24px;
}

nav ul li a:hover {
  color: $blue;
}
