header {
  background-color: #FFA500; /* Orange background color */
  color: #fff;
  padding: 15px;
  text-align: center;
}

nav {
  display: inline-block;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: #fff; /* White text color for links */
  font-weight: bold; /* Set font weight to bold */
  font-size: 24px; /* Set font size slightly larger */
}

nav ul li a:hover {
  color: lightgreen; /* Light green hover color for links */
}
