// palette
$orange: #F8A145;
$light_orange: #FFAC1C;
$medium_orange: #FFB74D;

$blue: #1976D2;
$light_blue: #64B5F6;

$green: #4CAF50;
$light_green: #81C784;

$black: #000000;
$charcoal: #36454F;
$dark_grey: #333333;
$grey: #404040;
$white: #fff;

.header-container {
  font-family: 'Roboto', serif;
}

// scss
header {
  background-color: $white;
  padding: 15px;
  text-align: center;
}

nav {
  display: inline-block;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

nav ul li {
  display: inline;
  margin-right: 40px;
}

nav ul li:last-child {
  margin-right: 200px;
}

nav ul li a {
  text-decoration: none;
  color: $black;
  font-weight: bold;
  font-size: 24px;
}

nav ul li a:hover {
  color: $blue;
}
