
// not using global default font
@font-face {
    font-family: 'Roboto';
    src: url(../../assets/Roboto-Regular.ttf) format('truetype');
}

.entire-section {
  font-family: 'Roboto', serif;
}

// scss
.title-container {
  display: flex;
  align-items: center; /* Vertically aligns content */
  margin-bottom: 10px; /* Adds spacing between title components */
}

.left-image {
  width: 200px; /* Set image width */
  height: 200px; /* Set image height */
  margin-right: 20px; /* Adds space between image and text */
  padding: 20px;
}

.title-text {
  font-family: Roboto, serif; /* Use Consolas font */
  font-size: 48px; /* Set font size to 32 pixels */
  font-style: bold; /* Set font style to italic */
}
