
// not using global default font
@font-face {
    font-family: 'Roboto';
    src: url(../../assets/Roboto-Regular.ttf) format('truetype');
}

.entire-section {
  font-family: 'Roboto', serif;
}

// scss
.title-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.left-image {
  width: 200px;
  height: 200px;
  margin-right: 20px;
  padding: 20px;
}

.title-text {
  font-family: Roboto, serif;
  font-size: 64px;
  font-style: bold;
}
