

<div class="contact-container">
  <p>
    Contact Us<br/>
    Welcome to our Socratic Seminar events, designed to foster passionate debate, share information, and ignite lively discussions around the
    world of Bitcoin and related protocols. Inspired by Bitdevs communities nationwide, our gatherings are tailored for individuals enthusiastic
    about diving deep into the research and development of Bitcoin technology.<br/><br/>
    Join our Meetup group: <a href="https://www.meetup.com/portlandbitdevs/" target="_blank">Portland Bit-Devs Meetup</a><br/>
    Join our Telegram group: <a href="https://t.me/+hk_V3SDCnDE1MWNh" target="_blank">Telegram Group</a>
    <br/><br/>
    What to Expect<br/>
    Our events are structured to offer an immersive experience that delves into various technical aspects, promoting collaboration and exploration
    within the realm of Bitcoin and associated protocols.
    <br/><br/>
    Technical Discussions<br/>
    The first half of each session is dedicated to delving into technical components, such as exploring pull requests in Bitcoin Core,
    lnd (Lightning Network Daemon), network statistics analysis, dissecting research papers, dissecting technical blog posts, and
    engaging with other relevant technical content. This segment serves as an arena for participants to exchange insights, pose questions,
    and engage in deep technical discussions.
    <br/><br/>
    Educational Sessions<br/>
    In the second half, our sessions broaden to encompass educational discussions, often presented in the form of fireside chats or
    interactive presentations. These discussions touch on broader concepts, offering a holistic view of Bitcoin technology, and encourage
    participation from diverse perspectives. Following the presentation, we open the floor to feedback and Q&A sessions, fostering an
    inclusive environment for learning and sharing knowledge.
    <br/><br/>
    Showcasing Innovations<br/>
    To conclude each session, our members are encouraged to showcase open-source projects, present innovative ideas, share updates about their
    companies, present ongoing research, or present any other relevant materials contributing to the advancement of Bitcoin technology.
    <br/><br/>
    Get Involved<br/>
    Do you have a compelling topic or project you'd like to present at our Socratic event? Are you keen on suggesting a discussion topic? We'd
    love to hear from you! Please reach out to the organizers at eddy@portlandbitdevs.com.
    <br/><br/>
    Our events thrive on the active participation of passionate individuals interested in the evolution of Bitcoin technology. Join us in our
    mission to explore, learn, and collaborate in shaping the future of this groundbreaking technology.
  </p>

</div>

