
$orange: #FFA500;
$black: #000000;
$grey: #404040;

html, body {
  height: 100%;
  margin: 0;
  font-family: Consolas, monospace;
}

body {
  font-family: Consolas, monospace;
  background: linear-gradient(to bottom, $orange, $grey);
  /* Other styles for the body */
}
