/* You can add global styles to this file, and also import other style files
      Otherwise you would have to use the  encapsulation: ViewEncapsulation.None option to allow spill over
*/

// global default font config
@font-face {
    font-family: 'Nunito';
    src: url(assets/Nunito-Regular.ttf) format('truetype');
}

.entire-section {
  font-family: 'Nunito', sans-serif;
}

// palette
$orange: #FFA500;
$light_orange: #FFCC80;
$medium_orange: #FFB74D;

$blue: #1976D2;
$light_blue: #64B5F6;

$green: #4CAF50;
$light_green: #81C784;

$black: #000000;
$dark_grey: #333333;
$grey: #404040;
$white: #fff;


html, body {
  height: 100%;
  margin: 0;
  font-family: Consolas, monospace;
}

body {
  font-family: Consolas, monospace;
  background: linear-gradient(to bottom, $orange, $dark_grey);

}
