/* You can add global styles to this file, and also import other style files
      Otherwise you would have to use the  encapsulation: ViewEncapsulation.None option to allow spill over
*/

// palette
$orange: #FFA500;
$light_orange: #FFCC80;
$medium_orange: #FFB74D;

$blue: #1976D2;
$light_blue: #64B5F6;

$green: #4CAF50;
$light_green: #81C784;

$black: #000000;
$charcoal: #36454F;
$dark_grey: #333333;
$grey: #404040;
$white: #fff;

// global default font config
@font-face {
    font-family: 'Nunito';
    src: url(assets/Nunito-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Nunito-Bold';
    src: url(assets/Nunito-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url(assets/Roboto-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url(assets/Roboto-Bold.ttf) format('truetype');
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Nunito', sans-serif;
  font-color: $light_orange;
  background-color: $black;
  //background-repeat: no-repeat;
  //background-attachment: fixed;
  //background-image: linear-gradient(to bottom, $black, $charcoal);
}

img {
  border-radius: 10px;
}

.font-span {
    color: $orange;
}

p {
    padding: 5px;
}

.markdownBlock {
    padding: 50px;
}
